@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animate-fadeInLeft {
    animation: fadeInLeft 6s ease-in-out;
  }
  
  .background{
    background-image: url('/images/Bannerbg.png'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    z-index: -10;

}

.background2 {
  background-image: url('/images/Bannerbg2.png'); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  z-index: -10;
 
}


.background2 {
  background-color: #f9fafb; /* Subtle background color for a clean design */
  padding: 2rem; /* Add padding for better spacing */
}

.group:hover .group-hover\\:scale-110 {
  transform: scale(1.1);
}

.group-hover\\:text-yellow-400:hover {
  color: #fbbf24;
}

.group-hover\\:text-green-600:hover {
  color: #10b981;
}

.group-hover\\:text-blue-600:hover {
  color: #3b82f6;
}

.group-hover\\:text-pink-400:hover {
  color: #ec4899;
}

.hover\\:scale-105:hover {
  transform: scale(1.05);
}

.bg-gray-100 {
  background-color: #f3f4f6;
}

.bg-blue-600 {
  background-color: #2563eb;
}

.text-blue-600 {
  color: #2563eb;
}

.transition-transform {
  transition: transform 0.3s ease;
}

.duration-300 {
  transition-duration: 300ms;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.shadow-lg {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
